apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: dev
  labels:
    app: appointment-service
    env: dev
spec:
  type: ClusterIP
  selector:
    app: appointment-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3001
